# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
.env
.env.*

# Secrets
*.key
*.pem
secrets/
service-account.json

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# OS / IDE
.DS_Store
.idea/
.vscode/

# Build
build/
dist/
*.egg-info/
